{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'quiz_list/custom/quizlist.css' %}">

<style>

</style>

<div class="container">
	{% for quiz_item in object_list %}
	<div class="card shadow-sm">
	  	<div class="card-body">
	    	<div class="row">
	    		<div class="col-4">{{ quiz_item.quiz_name }}</div>
	    		<div class="col-2 "><i class="fa fa-clock-o"></i> {{ quiz_item.time_limit }} mins</div>
	    		<div class="col-1 "><i class="fa fa-language"></i> {{ quiz_item.quiz_language|upper }} </div>
	    		<div class="col-2 custom-quizlist-item">Words: {{ quiz_item.words_count }}</div>
	    		<div class="col-2 ">Best attempt: {{ quiz_item.best_attempt }}</div>
	    		<div class="col-1 custom-quizlist-item"><a><i class="fa fa-trash"></i></a></div>
	    	</div>
		</div>
	</div>

	{%empty%}
		<h3>Empty</h3>

	{% endfor %}

</div>

{% endblock %}