{% extends 'homepage/homepage.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'quiz_list/custom/quizlist.css' %}">

<div class="container">
	<div class="card shadow-sm">
	  	<div class="card-body">
	    	<div class="row">
	    		<div class="col-4">This is a demo quiz</div>
	    		<div class="col-2 "><i class="fa fa-clock-o"></i> 1000000000 mins</div>
	    		<div class="col-1 "><i class="fa fa-language"></i> EN </div>
	    		<div class="col-2 custom-quizlist-item">Words: 30</div>
	    		<div class="col-2 ">Best attempt: 19/21</div>
	    		<div class="col-1 custom-quizlist-item"><a><i class="fa fa-trash"></i></a></div>
	    	</div>
		</div>
	</div>

	<div class="card shadow-sm">
	  	<div class="card-body">
	    	<div class="row">
	    		<div class="col-4">This is a demo quiz</div>
	    		<div class="col-2 "><i class="fa fa-clock-o"></i> 12 mins</div>
	    		<div class="col-1 "><i class="fa fa-language"></i> EN </div>
	    		<div class="col-2 custom-quizlist-item">Words: 30</div>
	    		<div class="col-2 ">Best attempt: 19/30</div>
	    		<div class="col-1 custom-quizlist-item"><a><i class="fa fa-trash"></i></a></div>
	    	</div>
		</div>
	</div>

	<div class="card shadow-sm">
	  	<div class="card-body">
	    	<div class="row">
	    		<div class="col-4">This is a demo quiz</div>
	    		<div class="col-2 "><i class="fa fa-clock-o"></i> 192837 mins</div>
	    		<div class="col-1 "><i class="fa fa-language"></i> JP </div>
	    		<div class="col-2 custom-quizlist-item">Words: 3</div>
	    		<div class="col-2 ">Best attempt: 1/3</div>
	    		<div class="col-1 custom-quizlist-item"><a><i class="fa fa-trash"></i></a></div>
	    	</div>
		</div>
	</div>

</div>

{% endblock %}